# Pandas_Class#2

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("datasets\Pokemon.csv")

In [3]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
data  #show all rows and columns

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [32]:
data.isnull().sum()   #how many null values in columns

#                    0
Name                 0
Type 1               0
Type 2             386
Total                0
HP                   0
Attack               0
Defense              0
Sp. Atk              0
Sp. Def              0
Speed                0
Generation           0
Legendary            0
Attack_High_Low      0
Speed_High_Low       0
HP_High_Low          0
dtype: int64

In [5]:
data.info()  # tell column name and how many non-null or null values in specific column and store which type of data
#object data type means string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
data.describe()  #integers values column shows beacuse mean,count etc apply on integer data

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [7]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
data["Type 1"].value_counts() #tell type1 column values how many appear of specific words in type1 column

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [9]:
data.sort_values("Defense") # defense column shows in ascending order by default

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [10]:
data.sort_values("Defense",ascending=False) #ascending is false means they print it in opposite to ascending
#(that is descending)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

In [11]:
data.sort_values("Defense",ascending=True) # print in ascending order

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [12]:
data.sort_values(["Defense","HP"])  #Defense and hp will sort in ascending order
 #but defense is first column and second is HP so first priority is Defense and it correctly in ascending order

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [13]:
data.sort_values(["HP","Defense"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False
487,439,Mime Jr.,Psychic,Fairy,310,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [14]:
data.sort_values(["HP","Defense"],ascending =[True,False])  #HP in ascending and Defense in descending but it produces result according to priority

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
388,355,Duskull,Ghost,NaN,295,20,40,90,30,90,25,3,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [15]:
data.sort_values(["HP","Attack","Defense"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

## FEATURE ENGINEERING
### ADD COLUMN
#### function of pandas-->apply

In [16]:
data.shape  #in our data, 800 rows and 13 columns

(800, 13)

In [17]:
data["Attack"]

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [18]:
data["Attack"].mean()  #mean of attack column

79.00125

In [19]:
#we want to add column attack_high_low --> Attack High , Attack Low 
#when value of attck is greater then 79 print Attack High otherwise print Attack low

attack_mean = data["Attack"].mean()

def set_attack(val):   #set_attack is function to take value of attack in this column
    if val>attack_mean:
        return "Attack High"
    elif val==attack_mean:
        return "Attack Neutral"
    else:
        return "Attack Low"

In [20]:
#now we add column  #apply is function of pandas that apply userdefined function to datasets
data["Attack_High_Low"]=data["Attack"].apply(set_attack)  #get all values of attack one by one and send to set_attack method then check condition
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack High
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack High
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack High
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack High

In [21]:
data.loc[(data.Attack_High_Low=="Attack High"),["Name","Attack","Attack_High_Low"]]

                          Name  Attack Attack_High_Low
2                     Venusaur      82     Attack High
3        VenusaurMega Venusaur     100     Attack High
6                    Charizard      84     Attack High
7    CharizardMega Charizard X     130     Attack High
8    CharizardMega Charizard Y     104     Attack High
..                         ...     ...             ...
795                    Diancie     100     Attack High
796        DiancieMega Diancie     160     Attack High
797        HoopaHoopa Confined     110     Attack High
798         HoopaHoopa Unbound     160     Attack High
799                  Volcanion     110     Attack High

[378 rows x 3 columns]

In [22]:
data.loc[(data.Attack_High_Low=="Attack Neutral"),["Name","Attack","Attack_High_Low"]]

Empty DataFrame
Columns: [Name, Attack, Attack_High_Low]
Index: []

In [23]:
#ADD Column of Speed_High_Low and HP_High_Low
Speed_mean = data["Speed"].mean()
print("Mean of Speed = ",Speed_mean)

HP_mean = data["HP"].mean()
print("Mean of HP = ",HP_mean)

def set_speed(val):
    if val>Speed_mean:
        return "Speed High"
    elif val==Speed_mean:
        return "Speed Neutral"
    else:
        return "Speed Low"
    
def set_hp(val):
    if val>HP_mean:
        return "HP High"
    elif val==HP_mean:
        return "HP Neutral"
    else:
        return "HP Low"

Mean of Speed =  68.2775
Mean of HP =  69.25875

In [24]:
data["Speed_High_Low"]=data["Speed"].apply(set_speed)
data["HP_High_Low"]=data["HP"].apply(set_hp)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low,Speed_High_Low,HP_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Speed Low,HP Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low,Speed Low,HP Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack High,Speed High,HP High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack High,Speed High,HP High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack Low,Speed Low,HP Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack High,Speed Low,HP Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack High,Speed High,HP Low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack High,Speed High,HP High
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack High,Speed High,HP High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack High,Speed High,HP High

# function of pandas->GroupBy

In [27]:
data.groupby("Type 1").groups  #groupby used for similar value ko groupkrdyga  
#show indexes of bug's values

{'Bug': [13, 14, 15, 16, 17, 18, 19, 51, 52, 53, 54, 132, 136, 137, 179, 180, 181, 182, 208, 219, 220, 228, 229, 230, 231, 232, 288, 289, 290, 291, 292, 307, 308, 314, 315, 316, 342, 343, 446, 447, 457, 458, 459, 460, 461, 462, 463, 520, 600, 601, 602, 603, 604, 605, 618, 619, 649, 650, 656, 657, 677, 678, 693, 697, 698, 717, 732, 733, 734], 'Dark': [212, 213, 233, 246, 247, 248, 284, 285, 326, 327, 392, 393, 478, 512, 549, 568, 569, 620, 621, 631, 632, 685, 686, 690, 691, 694, 695, 696, 756, 757, 793], 'Dragon': [159, 160, 161, 365, 366, 406, 407, 408, 409, 417, 418, 419, 420, 425, 426, 491, 492, 493, 494, 671, 672, 673, 682, 706, 707, 710, 711, 712, 774, 775, 776, 794], 'Electric': [30, 31, 88, 89, 108, 109, 134, 146, 157, 186, 193, 194, 195, 196, 258, 262, 337, 338, 339, 340, 341, 448, 449, 450, 464, 513, 517, 531, 532, 533, 534, 535, 536, 581, 582, 648, 663, 664, 665, 704, 705, 764, 765, 772], 'Fairy': [40, 41, 187, 189, 190, 225, 226, 519, 737, 738, 739, 752, 753, 754, 755, 770, 792], 'Fighting': [61, 62, 72, 73, 74, 114, 115, 255, 256, 320, 321, 334, 335, 336, 496, 497, 498, 592, 593, 594, 598, 599, 680, 681, 742, 743, 771], 'Fire': [4, 5, 6, 7, 8, 42, 43, 63, 64, 83, 84, 135, 147, 158, 169, 170, 171, 236, 237, 259, 263, 270, 276, 277, 278, 279, 352, 353, 354, 355, 435, 436, 437, 518, 542, 557, 558, 559, 572, 573, 614, 615, 616, 692, 721, 722, 723, 730, 731, 735, 736, 799], 'Flying': [702, 703, 790, 791], 'Ghost': [99, 100, 101, 102, 215, 385, 386, 387, 388, 389, 472, 473, 477, 490, 529, 544, 545, 623, 624, 668, 669, 670, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787], 'Grass': [0, 1, 2, 3, 48, 49, 50, 75, 76, 77, 110, 111, 122, 166, 167, 168, 197, 202, 203, 204, 206, 207, 272, 273, 274, 275, 296, 297, 298, 309, 310, 344, 362, 363, 390, 432, 433, 434, 451, 452, 467, 468, 505, 509, 510, 511, 516, 521, 550, 551, 554, 555, 556, 570, 571, 606, 607, 608, 609, 617, 651, 652, 658, 659, 701, 718, 719, 720, 740, 741], 'Ground': [32, 33, 55, 56, 112, 113, 119, 120, 222, 250, 251, 359, 360, 361, 375, 376, 423, 424, 499, 500, 515, 523, 588, 589, 611, 612, 613, 679, 683, 684, 708, 709], 'Ice': [133, 156, 238, 239, 243, 257, 395, 396, 397, 398, 399, 400, 415, 522, 524, 530, 643, 644, 645, 674, 675, 676, 788, 789], 'Normal': [20, 21, 22, 23, 24, 25, 26, 27, 44, 45, 57, 58, 90, 91, 92, 116, 121, 123, 124, 138, 143, 144, 148, 155, 175, 176, 177, 178, 188, 205, 218, 221, 234, 235, 252, 253, 254, 260, 261, 286, 287, 299, 300, 311, 312, 313, 317, 318, 319, 322, 324, 325, 358, 364, 367, 383, 384, 441, 442, 443, 444, 445, 471, 474, 475, 476, 479, 480, 488, 489, 495, 514, 525, 543, 552, 563, 564, 565, 566, 567, 578, 579, 580, 590, 591, 633, 634, 646, 647, 687, 688, 689, 715, 716, 727, 728, 729, 744], 'Poison': [28, 29, 34, 35, 36, 37, 38, 39, 46, 47, 95, 96, 117, 118, 183, 345, 346, 368, 482, 483, 501, 502, 503, 504, 629, 630, 760, 761], 'Psychic': [68, 69, 70, 71, 104, 105, 131, 162, 163, 164, 165, 191, 192, 211, 216, 217, 269, 271, 303, 304, 305, 306, 356, 357, 391, 394, 428, 429, 430, 431, 481, 487, 526, 527, 537, 538, 539, 546, 553, 576, 577, 586, 587, 622, 635, 636, 637, 638, 639, 640, 666, 667, 745, 746, 747, 797, 798], 'Rock': [80, 81, 82, 103, 149, 150, 151, 152, 153, 154, 200, 265, 266, 267, 268, 323, 369, 370, 377, 378, 379, 380, 414, 453, 454, 455, 456, 486, 528, 583, 584, 585, 627, 628, 700, 758, 759, 766, 767, 768, 769, 773, 795, 796], 'Steel': [223, 224, 245, 328, 329, 330, 331, 332, 333, 410, 411, 412, 413, 416, 427, 484, 485, 540, 660, 661, 662, 699, 748, 749, 750, 751, 777], 'Water': [9, 10, 11, 12, 59, 60, 65, 66, 67, 78, 79, 85, 86, 87, 93, 94, 97, 98, 106, 107, 125, 126, 127, 128, 129, 130, 139, 140, 141, 142, 145, 172, 173, 174, 184, 185, 198, 199, 201, 209, 210, 214, 227, 240, 241, 242, 244, 249, 264, 280, 281, 282, 283, 293, 294, 295, 301, 302, 347, 348, 349, 350, 351, 371, 372, 373, 374, 381, 382, 401, 402, 403, 404, 405, 421, 422, 438, 439, 440, 465, 466, 469, 470, 506, 507, 508, 541, 547, 548, 560, 561, 562, 574, 575, 595, 596, 597, 610, 625, 626, ...]}

In [29]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low,Speed_High_Low,HP_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Speed Low,HP Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low,Speed Low,HP Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack High,Speed High,HP High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack High,Speed High,HP High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack Low,Speed Low,HP Low

In [30]:
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low,Speed_High_Low,HP_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Speed Low,HP Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low,Speed Low,HP Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack High,Speed High,HP High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack High,Speed High,HP High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack Low,Speed Low,HP Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack High,Speed Low,HP Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack High,Speed High,HP Low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack High,Speed High,HP High
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack High,Speed High,HP High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack High,Speed High,HP High

In [46]:
gk = data.groupby("Name")

In [47]:
gk.first()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low,Speed_High_Low,HP_High_Low
Name,,,,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False,Attack High,Speed Low,HP High
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False,Attack High,Speed Low,HP High
Abra,63,Psychic,None,310,25,20,15,105,55,90,1,False,Attack Low,Speed High,HP Low
Absol,359,Dark,None,465,65,130,60,75,60,75,3,False,Attack High,Speed High,HP Low
AbsolMega Absol,359,Dark,None,565,65,150,60,115,60,115,3,False,Attack High,Speed High,HP Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,Dark,None,510,60,105,60,120,60,105,5,False,Attack High,Speed High,HP Low
Zorua,570,Dark,None,330,40,65,40,80,40,65,5,False,Attack Low,Speed Low,HP Low
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False,Attack Low,Speed Low,HP Low
Zweilous,634,Dark,Dragon,420,72,85,70,65,70,58,5,False,Attack High,Speed Low,HP High
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True,Attack High,Speed High,HP High

In [44]:
#Finding the values contained in the "Zubat" group
gk.get_group("Zubat")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low,Speed_High_Low,HP_High_Low
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False,Attack Low,Speed Low,HP Low

In [40]:
data["Name"].value_counts()

Snover        1
Sudowoodo     1
Electivire    1
Escavalier    1
Unown         1
             ..
Skitty        1
Archen        1
Deerling      1
Swalot        1
Phanpy        1
Name: Name, Length: 800, dtype: int64

In [48]:
# First grouping based on "Name"
# Within each Name we are grouping based on "Type 2"
gkk = data.groupby(["Name","Type 2"])

In [50]:
gkk.first()

,,#,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_High_Low,Speed_High_Low,HP_High_Low
Name,Type 2,,,,,,,,,,,,,,
Abomasnow,Ice,460,Grass,494,90,92,75,92,85,60,4,False,Attack High,Speed Low,HP High
AbomasnowMega Abomasnow,Ice,460,Grass,594,90,132,105,132,105,30,4,False,Attack High,Speed Low,HP High
AegislashBlade Forme,Ghost,681,Steel,520,60,150,50,150,50,60,6,False,Attack High,Speed Low,HP Low
AegislashShield Forme,Ghost,681,Steel,520,60,50,150,50,150,60,6,False,Attack Low,Speed Low,HP Low
Aerodactyl,Flying,142,Rock,515,80,105,65,60,75,130,1,False,Attack High,Speed High,HP High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zapdos,Flying,145,Electric,580,90,90,85,125,90,100,1,True,Attack High,Speed High,HP High
Zekrom,Electric,644,Dragon,680,100,150,120,120,100,90,5,True,Attack High,Speed High,HP High
Zubat,Flying,41,Poison,245,40,45,35,30,40,55,1,False,Attack Low,Speed Low,HP Low
Zweilous,Dragon,634,Dark,420,72,85,70,65,70,58,5,False,Attack High,Speed Low,HP High
Zygarde50% Forme,Ground,718,Dragon,600,108,100,121,81,95,95,6,True,Attack High,Speed High,HP High